<%inherit file="base.html"/>
<%!
from mako.template import Template
%>
<div id="primary">

<h2>${title}</h2>
${description|n}

% if not template:
${Template('${form()|n}', input_encoding='utf-8', output_encoding='utf-8', default_filters=['unicode', 'h']).render(form=form)|n}
%else:
${Template(template, input_encoding='utf-8', output_encoding='utf-8', default_filters=['unicode', 'h']).render(form=form)|n}
%endif


<div id="data">
  <h3>Data</h3>
  <pre>
${data}
  </pre>
  </div>

  % if rawdata is not None and 'myFileField' in rawdata and rawdata['myFileField'] is not None:

<div id="uploadedimage">
<h3>Uploaded Image</h3>
  <div id="actual"><img src="/filehandler/${rawdata['myFileField'].filename}" /></div>
  <div id="resized"><img src="/filehandler/${rawdata['myFileField'].filename}?size=100x100" /></div>
</div>


  % endif

<div id="template">
<h3>Template</h3>
% if not template:
<div class="highlight"><pre><span class="cp"><%text>$</%text>{</span><span class="n">form</span><span class="p">()</span><span class="o">|</span><span class="n">n</span><span class="cp">}</span></pre></div>
%else:
${template_highlighted|n}
%endif
</div>


<div id="definition">
<h3>Form Definition</h3>
${definition|n}
</div>

</div>

<div id="secondary">
<h3>Tests</h3>
${tests|n}
</div>

<%def name="header()">${title}</%def>
