<%inherit file="base.html"/>

<div class="content">
<div id="primary">
<p>Formish Examples</p>

<p>Some interactive form examples:</p>


<h3>Simple Fields</h3>
<%
ids = ['SimpleString','SimpleInteger','SimpleBoolean','SimpleFloat','SimpleDecimal','SimpleDate']
links(ids)
%>

<h3>File Fields</h3>
<%
ids = ['SimpleFile']
links(ids)
%>

<h3>Simple Widgets</h3>
<%
ids = ['StringWidgets','SelectWidgets']
links(ids)
%>

<h3>Sequence of Structures (using javascript)</h3>
<%
ids = ['SequenceOfStructures','SequenceOfUploadStructures','SequenceOfStructuresWithSelects']
links(ids)
%>
</div>
</div>

<%def name="links(ids)">
<ul>
%for f in get_forms(ids):
  <li><a href="/${f['name']}">${f['title']}</a> -- ${f['summary']|n}</li>
% endfor
</ul>
</%def>


<%def name="header()">Formish Examples</%def>

