<%inherit file="base.html"/>

<div class="content">
<div id="primary">
<p>Formish Examples</p>

<p>Some interactive form examples:</p>

<h3>Simple Fields</h3>
<%
ids = ['String','Integer','Boolean','Float','Decimal','Date','Tuple']
links(ids)
%>

<h3>Simple Fields with some options</h3>
<%
ids = ['StringDifferentEmpty','DateDifferentEmpty','BooleanWithDefaults']
links(ids)
%>

<h3>File Fields</h3>
<%
ids = ['File']
links(ids)
%>

<h3>Simple Widgets</h3>
<%
ids = ['Input','InputNoneValue','InputDateNoneValue','Hidden','Password','CheckedPassword','TextAreaSimple','TextAreaColsAndRows','TextAreaStrip']
links(ids)
%>

<h3>Default Values</h3>
<%
ids = ['IntegerNoneDefault']
links(ids)
%>

<h3>Checkbox Widgets</h3>
<%
ids = ['Checkbox','CheckboxWithDefaults']
links(ids)
%>


<h3>Validation Examples</h3>
<%
ids = ['Required', 'RadioChoiceRequired','CheckboxRequired','CheckboxRequiredWithEmptyValue','MinLength','MaxLength','MinMaxLength','MinLengthCheckboxMultiChoice','MinRange','MaxRange','MinMaxRange','PlainText','OneOf','All','Any','ReCAPTCHA','ValidationOnSequenceItem','ValidationOnSequence','ValidationOnSequenceItemTextArea','RequiredStringAndFile']
links(ids)
%>


<h3>Select Widgets</h3>
<%
ids = ['SelectChoice','SelectChoiceNoneOption','SelectChoiceWithEmptyString','SelectChoiceCallableOptions','SelectWithOtherChoice','RadioChoice','RadioChoiceNoneOption','RadioChoiceNoneOptionNoneDefault','RadioChoiceCallableOptions','RadioChoiceWithDefaults','SelectChoiceDate','SelectChoiceSequenceInteger']
links(ids)
%>

<h3>Defaults</h3>
<%
ids = ['SelectChoiceDefault', 'RadioChoiceDefault','SelectWithOtherChoiceDefault', 'CheckboxMultiChoiceDefault','SequenceOfStringsWithDefault','SequenceAsInputWithDefaultAndDelimiter']
links(ids)
%>


<h3>Multi Select Widgets</h3>
<%
ids = ['CheckboxMultiChoice','CheckboxMultiChoiceTree']
links(ids)
%>

<h3>Structures</h3>
<%
ids = ['SimpleStructure','StructureWithReadonly','UploadStructure','NestedStructures']
links(ids)
%>

<h3>Sequences</h3>
<%
ids = ['SequenceOfStrings','SequenceOfStringsWithoutFormName','SequenceOfStringsWithSequenceWidgetOptions']
links(ids)
%>

<h3>Sequence of Structures (using javascript)</h3>
<%
ids = ['SequenceOfSimpleStructures','SequenceOfDateParts','SequenceOfUploadStructures','SequenceOfStructuresWithSelects','SequenceOfStructures','SequenceOfSequences','SequenceOfSequencesAsTextArea','SequenceOfStructuresGridWidget']
links(ids)
%>

<h3>Customised, Granular Form Layout</h3>
<%
ids = ['GranularFormLayout','CustomisedFormLayout','CustomisedFormLayoutWithSequence','CustomisedFormLayoutFields']
links(ids)
%>

<h3>Example from Formish Docs for embedding in Restish</h3>
<%
ids = ['RestishExample']
links(ids)
%>



</div>
</div>



<%def name="links(ids)">
<ul>
% for f in get_forms(ids):
  <li><a href="/${f['name']}">${f['title']}</a> -- ${f['summary']|n}</li>
% endfor
</ul>
</%def>


<%def name="header()">Formish Examples</%def>

