<form id="${form.name}" action="${form._action}" class="formish-form" method="post" enctype="multipart/form-data" accept-charset="utf-8">
  <div>
    <input type="hidden" name="_charset_" />
    <input type="hidden" name="__formish_form__" value="${form.name}" />
    % for field in form.fields:
    ${field()}
    % endfor
    <div class="actions">
      %if form.actions == []:
        <input type="submit" id="${form.name}-action-submit" name="submit" value="Submit" />
      %else:
        %for action in form.actions:
        <input type="submit" id="${form.name}-action-${action.name}" name="${action.name}" value="${action.label}" />
        %endfor
      %endif
    </div>
  </div>
</form>

