<%def name="field(f)">
%if f.type is 'field' or (f.type is 'sequence' and f.widget is not None):
<div id="${f.cssname}-field" class="${f.classes}">
  %if f.widget.widget.__class__.__name__ != 'Hidden':
  <label for="${f.cssname}">${f.title}</label>
  %endif
  <div class="inputs">
    ${widget(f)}
  </div>
  %if f.widget.widget.__class__.__name__ != 'Hidden':
  % if f.error:
  <span class="error">${f.error}</span>
  % endif
  % if f.description:
  <span class="description">${f.description}</span>
  % endif
  % endif
</div>
%else:
<fieldset class="group" id="${f.cssname}-field" class="${f.classes}">
  % if f.title:
  <legend>${f.title}</legend>
  % endif
  % if f.description:
  <div class="description">${f.description}</div>
  % endif
  % for ff in f.fields:
      ${field(ff)}
  % endfor
</fieldset>
%endif
</%def>

<%def name="widget(field)">
<%include file="widgets/${field.widget.widget.__class__.__name__}.html" args="field=field"/>
</%def>

