<%namespace name="fieldmodule" file="Field.html" />

<%def name="form(form)">
<%call expr="header(form)" />
<%call expr="errors(form)" />
<%call expr="body(form)" />
<%call expr="actions(form)" />
<%call expr="footer(form)" />
</%def>


<%def name="header(form)">

<form id="${form.name}" action="${form.action_url or url.here}" class="formish-form" method="post" enctype="multipart/form-data" accept-charset="utf-8">
  <div>
    <input type="hidden" name="_charset_" />
    <input type="hidden" name="__formish_form__" value="${form.name}" />
    %if form.embed_schema is True:
    <input type="hidden" name="__schema__" value="${form.schema_json}" />
    %endif
    
</%def>

<%def name="errors(form)">
    %if form.error is not None:
      <p class="error">${form.error}</p>
    %endif
</%def>

<%def name="body(form)">
    % for f in form.fields:
      ${fieldmodule.field(f)}
    % endfor
</%def>    
    
<%def name="actions(form)">
    <div class="actions">
      %if form.actions == []:
        <input type="submit" id="${form.name}-action-submit" name="submit" value="Submit" />
      %else:
        %for action in form.actions:
        <input type="submit" id="${form.name}-action-${action.name}" name="${action.name}" value="${action.label}" />
        %endfor
      %endif
    </div>
</%def>

<%def name="footer(form)">
  </div>
</form>
</%def>

<%def name="field(form)">
 ${fieldmodule.field(form)}
</%def>
