<%namespace name="fieldmodule" file="Field.html" />

<%call expr="header(form)" />
<%call expr="errors(form)" />
<%call expr="fields(form)" />
<%call expr="actions(form)" />
<%call expr="footer(form)" />


<%def name="header(form)">
<%
if form.action_url:
    action_url = form.action_url
else:
    action_url = ''
%>
<form id="${form.name}" action="${action_url}" class="formish-form" method="post" enctype="multipart/form-data" accept-charset="utf-8">
  <input type="hidden" name="_charset_" />
  <input type="hidden" name="__formish_form__" value="${form.name}" />
</%def>

<%def name="errors(form)">
  %if form.error is not None:
    <p class="error">${unicode(form.error)}</p>
  %endif
</%def>

<%def name="fields(form)">
%for f in form.fields:
${f()|n}
%endfor
</%def>    
    
<%def name="actions(form)">
  <div class="actions">
    %if form.actions == []:
      <input type="submit" id="${form.name}-action-submit" name="submit" value="Submit" />
    %else:
      %for action in form.actions:
      <input type="submit" id="${form.name}-action-${action.name}" name="${action.name}" value="${action.label}" />
      %endfor
    %endif
  </div>
</%def>

<%def name="footer(form)">
</form>
</%def>

<%def name="field(form)">
 ${fieldmodule.field(form)}
</%def>
